<div class="card-deck" *ngIf="selectedList">
                  
        <img src="{{ selectedList.url }}" class="card-img-top" alt="{{ selectedList.title }}">
        <div class="card-body">
          <h5 *ngIf="selectedList.title" class="card-title">Title: {{ selectedList.title }}</h5>
          <p *ngIf="selectedList.owner" class="card-text"> Owner: {{ selectedList.owner }} </p>
        </div>
      
  </div>



  