.gallery {
        
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    cursor:pointer;
}

@media (max-width: 450px) {

    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}

@media (max-width: 400px) {

    .btn.filter {
        padding-left: 1.1rem;
        padding-right: 1.1rem;
    }
}

.load_more{

    button{
        background:#4285f4;
        height:45px;
        width:100%;
        color:white;
        border:none;
    }
}