<!-- Grid row -->
    <div class="gallery" id="gallery">
              
        <!-- Grid column -->
        <div class="mb-3 pics animation all 2" *ngFor="let list of lists; let id = index">
          <img (click)="getSelected(list)" class="img-fluid" src="{{ list.url }}" alt="{{list.title}}">
        </div>
        <!-- End Grid column -->
  
    </div>

    
    <div>
        
        <hr />
        <div class="load_more">
            
            <div class="row">
                <div class="col-lg-5" *ngIf="lists.length !=0 ">
                    <button (click)="loadMoreImage($event)">Load More Image</button>
                </div>
                <div class="col-lg-7">
                    <div class="" *ngIf="loading">
                        <img src="../../../assets/images/preloader.gif" /> loading...
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Grid row -->