<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Formedix Test</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="search" #search>
            <button (click)="searchImage($event, search)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </div>
        </div>
    </div>
  </nav>

<div class="container">
        <div class="row">
          
          <div class="col-5 list-rows">

            <app-list></app-list>
                  
          </div>

          <div class="col-7 list-preview">

            <app-preview></app-preview>

          </div>
        </div>
      </div>


  
